*.class
.DS_Store
.classpath
.project
.metadata

META-INF

*.jar
/kafka-course/kafka-connect/connectors/*
!/kafka-course/kafka-connect/connectors/kafka-connect-twitter/
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

HELP.md

.settings/
